body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    
}

.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}

p {
    margin: 10 0 10px;
}

.camry {
    position: relative;
    left: 49%;
    top: -133%;
    height:70%;
    
}

.box {
    margin: 30px 0 0 0;
    height: 320px;
    width: 60%;
    
    border-radius: 3px;
    padding: 10px 0 5px 5px;
}

.btn {
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #434343, #000000, #2c2929);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    background-size: 200%;
    transition: .5s;
    margin-left: 30%;
    margin-top: 1%;
}

    .btn:hover {
        background-position: right;
    }