body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer {
    text-align: center;
    position: absolute;
	width: 100%;
	margin: 52% auto 0;
	height: 60px;

}

.container1 {
    margin-top: 10%;
    width: 20%;
    float: left;
  }

.container2 {
    width: 20%;
    margin-top:10%;
    float: left;
}

.container3 {
    margin-top: 10%;
    float: right;
}

input[type=text] {
    padding: 15px;
    margin: 5px 5px 2px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    opacity: .7;
}

.btn {


}