body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.mesto {
    margin-top: 12%;
    margin-left: 9%;
}
