  body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
* {box-sizing: border-box}


.container {
  padding: 16px;
  text-align: left;
}


input[type=text], input[type=password] {
  width: 43%;
  padding: 15px;
  margin: 5px 0 12px 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  opacity: .7;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #141614;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #000000;
  text-align: center;
}

.footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -7%;
  width: 100%;
  height: 80px;
  text-decoration: none;
}
.nav {
  text-align: center;
}

.nav_link {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}