body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.intro {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    height: 200px;
    padding-top: 10px;
    background-size: cover;
    position: relative;
    margin-right: 5%;
}

.box {
    text-align: center;
    height: 600px;
    width: 400px;
    margin-top: -190px;
    margin-left: 30%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


select {
    width: 150px;
    margin-bottom: 10px;
    height: 25px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

label {
    position: relative;
}

    label:after {
        content: '<>';
        font: 11px "Consolas", monospace;
        color: #666;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 8px;
        top: 2px;
        padding: 0 0 2px;
        border-bottom: 1px solid #ddd;
        position: absolute;
        pointer-events: none;
    }

    label:before {
        content: '';
        right: 6px;
        top: 0px;
        width: 20px;
        height: 20px;
        background: #eee;
        position: absolute;
        pointer-events: none;
        display: block;
    }
.btn {
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #009b46, #050f07, #000000);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-top: 10%;
}

    .btn:hover {
        background-position: right;
    }
.btn1 {
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #ca1111, #140606, #000000);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-top: 10%;
}

    .btn1:hover {
        background-position: right;
    }