body {
    background: #000 url(mashina1.jpg);
    background-size: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: white;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}



.info {
    margin-top: 10%;
}

.info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.info__item {
    display: flex;
    align-items: center;
}

.info__item img {
    display: block;
    width: 50px;
    object-fit: cover;

    margin-left: 20px;
}

.btn {
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #ca1111, #140606, #000000);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-left: 32%;

}

.btn:hover {
    background-position: right;
}


.bttn1 {
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #009b46, #050f07, #000000);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    margin-left: -6%;
    margin-top: 10px;
}

.bttn1:hover {
    background-position: right;
}

.btn1 {
    text-decoration: none;
    color: white;

}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: black;
	background: black;
	background: black;
}

.close {
	background: #000000;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

* {box-sizing: border-box}


.container {
  padding: 16px;
  text-align: center;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  opacity: .7;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 40px;
}


.registerbtn {
  background-color: #141614;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #000000;
  text-align: center;
}

.btttn1 {
    margin-left: 30%;
    font-size: 20px;
    font-family: Raleway;
    color: #fff;
    background: linear-gradient(to left, #009b46, #046e16, #043613);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;

}

.bttn1:hover {
    background-position: right;
}

* {box-sizing: border-box;}
    form {
      position: relative;
      width: 300px;
      margin-left:

    }
    input, button {
      border: none;
      outline: none;
      border-radius: 3px;
    }
    input {
      width: 100%;
      height: 42px;
      background: #F9F0DA;
      padding-left: 15px;
    }
    button {
      height: 26px;
      width: 26px;
      position: absolute;
      top: 8px;
      right: 8px;
      background: #F15B42;
      cursor: pointer;
    }
    button:before {
      content: "\f105";
      font-family: FontAwesome;
      color: #F9F0DA;
      font-size: 20px;
      font-weight: bold;
    }
